node_modules
dist
docs/guide/_build/
src/parser.js
src/typeparser.js
test/fixtures/**/*.js
test/fixtures/**/*.js.map
examples/*.js
examples/*.js.map
lib/*.js
roy.brianmckenna.org
roy.js
roy-min.js
.DS_Store
*~
*.swp
*.roym
